# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
client/node_modules
server/node_modules
client/.pnp
client/.pnp.js

# testing
client//coverage

# production
client/build

# misc
client/.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

# native
native/node_modules/
native/.expo/
native/npm-debug.*
native/*.jks
native/*.p8
native/*.p12
native/*.key
native/*.mobileprovision
native/*.orig.*
native/web-build/

# macOS
native/.DS_Store
